/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins;
  color: #fff;
  background: #000000;
  padding: 0;
  margin: 0;
}


.loader1 {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #514b82;
  -webkit-mask: radial-gradient(circle closest-side at 50% 40%, #0000 94%, #000);
  transform-origin: 50% 40%;
  animation: l25 1s infinite linear;
}

@keyframes l25 {
  100% {
      transform: rotate(1turn)
  }
}


.cart-button button {
  padding: 10px 10px;
  border: none;
  background-color: #35353585;
  color: #c8dfff;
  font-size: 20%;
  cursor: pointer;
  transition: 0.4s;
}

.cart-button button:hover {
  transition: 0.3s;
  background-color: #69696985;
}


/* For small screens (up to 576px) */
@media (max-width: 576px) {
  .cart-button button {
    font-size: 7px;
    padding: 8px 8px;
  }
}

/* For medium screens (577px to 768px) */
@media (min-width: 577px) and (max-width: 768px) {
  .cart-button button {
    font-size: 8px;
    padding: 10px 10px;
  }
}

/* For large screens (769px and above) */
@media (min-width: 769px) {
  .cart-button button {
    font-size: 11px;
    padding: 12px 12px;
  }
}


/* Loader */

/* Center the loader */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Customize loader style */
.loader {
  border: 8px solid #f3f3f300;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

/* Loader animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Hide the loader when the website content is loaded */
#website-content {
  display: none;
}

/* end loader */



/* navbar */

.nav {
  display: flex;
  align-items: center;
  background-color: #000000;
  nav-index: inherit;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 200px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.nav,
.nav .nav-links {
  display: flex;
  align-items: center;
}

.nav {
  justify-content: space-between;
  /* box-shadow: 0 4px 10px rgba(144, 144, 144, 0.269); */
}

a {
  color: rgb(64, 137, 255);
  text-decoration: none;
}

#profileIcon img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}

.nav .logo {
  font-size: 22px;
  font-weight: 500;
  margin-left: -32px;
  color: rgb(255, 187, 98);;
}

.nav .nav-links {
  column-gap: 66px;
  list-style: none;
  margin-left: 61px;
}

.nav .nav-links a {
  display: block;
  transition: all 0.2s linear;
}


/* search */

.nav.openSearch .nav-links a {
  opacity: 1;
  pointer-events: none;
}

.nav .search-icon {
  color: rgb(64, 137, 255);
  font-size: 20px;
  cursor: pointer;
  margin-left: 0%;
}

.nav .search-box {

  position: absolute;
  top: 61px;
  right: 196px;
  height: 45px;
  max-width: 555px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s linear;
}

.nav.openSearch .search-box {
  opacity: 1;
  pointer-events: auto;
}

#login-Icon .btn-login {
  padding: 35% 76% 35% 76%;
  background-color: #3b3b3b;
  border: none;
  color: white;
  border-radius: 8%;
  margin-left: -30%;
}

#login-Icon .btn-login:hover {
  background-color: #252525;
  transition: 0.2s;
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  #login-Icon .btn-login {
    padding: 30% 70% 30% 70%;
    border-radius: 7%;
    margin-left: -121%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #login-Icon .btn-login {
    padding: 35% 76% 35% 76%;
    border-radius: 8%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #login-Icon .btn-login {
    padding: 40% 80% 40% 80%;
    border-radius: 9%;
  }
}


.search-box .search-icon {
  position: absolute;
  top: 50%;
  left: 176px;
  color: rgb(64, 137, 255);
  transform: translateY(-50%);
}

.search-box input {
  height: 100%;
  width: 80%;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: #fff;
  padding: 0 15px 0 45px;
  box-shadow: rgb(0 0 0) 0px 2px 10px;
}


/* Media Queries */

/* For screens smaller than 576px */
@media (max-width: 575px) {
  .search-box .search-icon {
    display: none;
  }

  .search-box input {
    width: 100%;
    padding: 0 15px 0 30px;
  }
}

/* For screens between 576px and 767px */
@media (min-width: 585px) and (max-width: 768px) {
  .search-box .search-icon {
    display: none;
  }

  .search-box input {
    width: 90%;
    padding: 0 15px 0 35px;
  }
}

/* For screens between 768px and 991px */
@media (min-width: 768px) and (max-width: 999px) {
  .search-box .search-icon {
    left: 70px;
  }

  .search-box input {
    width: 85%;
    padding: 0 15px 0 40px;
  }
}

/* For screens larger than 992px */
@media (min-width: 992px) {
  .search-box .search-icon {
    left: 22px;
  }

  .search-box input {
    width: 80%;
    padding: 0 15px 0 45px;
  }
}


.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 97.5%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
  background-color: #606060;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #000000;
  width: 80%;
}

.close-button {
  color: #f6f6f6;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -7%;
  background-color: #64646473;
  border-radius: 50%;
  padding-left: 1%;
  padding-right: 1%;
}

.close-button:hover,
.close-button:focus {
  color: rgb(217, 217, 217);
  text-decoration: none;
  cursor: pointer;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 70vh;
  /* Set a maximum height */
  overflow-y: auto;
  /* Enable vertical scrolling */
}

.course-card2 {
  border-radius: 5%;
  width: 30%;
  background-color: #383838;
  border: 1px solid #000000;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.course-image {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 5%;
}

.course-description {
  padding: 10px;
}

.card-container::-webkit-scrollbar {
  width: 12px;
  /* Width of the scrollbar */
}

.card-container::-webkit-scrollbar-track {
  background-color: #464646;
  /* Color of the scrollbar track */
  border-radius: 6px;
}

.card-container::-webkit-scrollbar-thumb {
  background-color: #b8b8b8;
  /* Color of the scrollbar thumb */
  border-radius: 6px;
  /* Rounded corners for the scrollbar thumb */
}

.card-container::-webkit-scrollbar-thumb:hover {
  background-color: #dbdbdb;
  /* Color of the scrollbar thumb on hover */
}


/* Media queries */
@media (max-width: 1024px) {
  .popup-content {
    width: 90%;
  }

  .course-card2 {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .popup-content {
    margin: 27% auto;
  }

  .course-card2 {
    width: 80%;
  }

  .nav .search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    margin-top: -111%;
    transform: translateX(50%);
    box-shadow: rgb(0, 0, 0) 0px 2px 10px;
  }
}

@media (max-width: 480px) {
  .popup-content {
    margin: 25% auto;
    padding: 10px;
  }

  .course-card2 {
    width: 100%;
  }
}

.navOpenBtn,
.nav .navCloseBtn {
  display: none;
}

/* responsive */
@media screen and (max-width: 1160px) {
  .nav {
    padding: 15px 100px;
  }

  .nav .search-box {
    right: 150px;
  }
}

@media screen and (max-width: 950px) {
  .nav {
    padding: 15px 50px;
  }

  .nav .search-box {
    right: 100px;
    max-width: 400px;
  }
}

@media screen and (max-width: 768px) {

  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
  }

  ul a {
    color: rgb(64, 137, 255);
    ;
    text-decoration: none;
  }

  .nav {
    padding: 15px 20px;
  }

  .nav .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background-color: #282828;
    box-shadow: 0 2px 10px rgba(32, 32, 32, 0.616);
    transition: all 0.4s ease;
    z-index: 100;
  }

  .nav.openNav .nav-links {
    left: -122px;
  }

  .nav .navOpenBtn {
    color: #006aff;
    font-size: 20px;
    cursor: pointer;
  }

  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: rgb(64, 137, 255);
    ;
    font-size: 20px;
    cursor: pointer;
  }

  .nav .search-box {
    top: calc(100% + -60px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
}


/* Theem darck or light */

.checkbox {
  visibility: hidden;
}


/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 1.2em;
  height: 3.3em;
}

/* Hide default HTML checkbox */
.switch .chk {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 5px;
}

.slider:before {
  position: absolute;
  content: "";
  height: .5em;
  width: 2.4em;
  border-radius: 5px;
  left: -0.6em;
  top: 0.2em;
  background-color: white;
  box-shadow: 0 6px 7px rgba(0, 0, 0, 0.3);
  transition: .4s;
}

.slider:before,
.slider:after {
  content: "";
  display: block;
}

.slider:after {
  background: linear-gradient(transparent 50%, rgba(255, 255, 255, 0.15) 0) 0 50% / 50% 100%,
    repeating-linear-gradient(90deg, rgb(255, 255, 255) 0, rgb(255, 255, 255), rgb(255, 255, 255) 20%, rgb(255, 255, 255) 20%, rgb(255, 255, 255) 40%) 0 50% / 50% 100%,
    radial-gradient(circle at 50% 50%, rgb(255, 255, 255) 25%, transparent 26%);
  background-repeat: no-repeat;
  border: 0.25em solid transparent;
  border-left: 0.4em solid #ffffff;
  border-right: 0 solid transparent;
  transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
  transform: translateX(-22.5%) rotate(90deg);
  transform-origin: 25% 50%;
  position: relative;
  top: 0.5em;
  left: 0.55em;
  width: 2em;
  height: 1em;
  box-sizing: border-box;
}

.chk:checked+.slider {
  background-color: limegreen;
}

.chk:focus+.slider {
  box-shadow: 0 0 1px limegreen;
}

.chk:checked+.slider:before {
  transform: translateY(2.3em);
}

.chk:checked+.slider:after {
  transform: rotateZ(90deg) rotateY(180deg) translateY(0.45em) translateX(-1.4em);
}





/* slide-show */

.slide {
  display: none;
  animation: fade 0.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

.slideshow-container {
  max-width: 100%;
  height: 100%;
  position: relative;
  margin-top: 0%;
}

.slide {
  display: none;
  text-align: center;
  color: white;
  padding: 40px;
}

.slide img {
  width: 95%;
}

.slide-content {
  color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  margin-left: 5%;
  margin-right: 55%;
  margin-top: -24%;
  margin-bottom: 1%;
}

.prev-btn,
.next-btn {
  cursor: pointer;
  position: absolute;
  top: 47%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 56%;
  transition: 0.4s ease;
  border-radius: 0 3px 3px 0;
  background-color: rgba(49, 49, 49, 0.744);
}

.next-btn {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev-btn:hover,
.next-btn:hover {
  background-color: rgba(85, 85, 85, 0.676);
}


/* Media query for all screen sizes */
@media only screen and (max-width: 1016px) {
  .slide-content {
    margin-left: 10%;
    margin-right: 61%;
    margin-top: -26%;
  }

  .prev-btn,
  .next-btn {
    font-size: 10px;
    padding: 10px;
    top: 36%;
  }
}

@media only screen and (max-width: 981px) {
  .slide-content {
    margin-left: 10%;
    margin-right: 57%;
    margin-top: -29%;
  }

  .prev-btn,
  .next-btn {
    font-size: 10px;
    padding: 10px;
    top: 31%;
  }
}

@media only screen and (max-width: 878px) {
  .slide-content {
    margin-left: 5%;
    margin-right: 60%;
    margin-top: -30%;
    font-size: 60%;
  }

  .prev-btn,
  .next-btn {
    font-size: 10px;
    padding: 10px;
    top: 31%;
  }
}

@media only screen and (max-width: 768px) {
  .slide-content {
    margin-left: 2%;
    margin-right: 52%;
    margin-top: -33%;
    font-size: 50%;
  }

  .prev-btn,
  .next-btn {
    font-size: 6px;
    padding: 10px;
    top: 25%;
  }
}

@media only screen and (max-width: 480px) {
  .slide-content {
    margin-left: 5%;
    margin-right: 52%;
    margin-top: -33%;
    font-size: 51%;
  }

  .prev-btn {
    margin-left: 7%;
  }

  .next-btn {
    margin-right: 7%;
  }

  .prev-btn,
  .next-btn {
    font-size: 6px;
    padding: 10px;
    top: 20%;
  }
}


/* end slide-show */

/* learn next section */

.what-to-learn-next {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: -7px;
}

.what-to-learn-next h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.what-to-learn-next p {
  font-size: 16px;
  margin-bottom: 20px;
}

.course-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.course-card {
  background-color: #3e3e3e;
  border-radius: 5px;
  padding: 8px;
  margin-left: 30%;
  text-align: left;
}

.course-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.course-card h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.course-card p {
  font-size: 14px;
  color: #888;
  margin-bottom: 10px;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.star-rating {
  font-weight: bold;
  color: #ffa500;
  margin-right: 5px;
}

.reviews {
  font-size: 14px;
  color: #888;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
}

.original-price {
  font-size: 14px;
  color: #888;
  text-decoration: line-through;
  margin-right: 5px;
}

.discounted-price {
  font-size: 18px;
  font-weight: bold;
  color: #008000;
}

/* Media Queries */

@media (max-width: 768px) {
  .what-to-learn-next {
    padding: 10px;
  }

  .what-to-learn-next h2 {
    font-size: 20px;
  }

  .what-to-learn-next p {
    font-size: 14px;
  }

  .course-cards {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
  }

  .course-card {
    padding: 10px;
  }

  .course-card h3 {
    font-size: 14px;
  }

  .course-card p {
    font-size: 12px;
  }

  .star-rating,
  .reviews,
  .original-price,
  .discounted-price {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .what-to-learn-next h2 {
    font-size: 18px;
  }

  .what-to-learn-next p {
    font-size: 12px;
  }

  .course-cards {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .course-card h3 {
    font-size: 12px;
  }

  .course-card p {
    font-size: 10px;
  }

  .star-rating,
  .reviews,
  .original-price,
  .discounted-price {
    font-size: 10px;
  }
}


/* course card slider */

.course h1 {
  margin-left: 6%;
  font-size: xx-large;
}

.course p {
  margin-left: 76px;
  font-size: 25px;
  font-style: italic;
  color: #a2a2a2;
}

.course .wrapper {
  max-width: 1100px;
  width: 100%;
  margin-left: 6%;
  position: relative;

}

.course .wrapper i {
  height: 50px;
  width: 50px;
  background: rgb(25, 130, 251);
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  font-size: 1.25 rem;
  transform: translateY(-50%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);

}

.course .wrapper i:first-child {
  left: -71px;

}

.course .wrapper i:last-child {
  right: -85px;

}

.course .wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 4) - 19px);
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}

.course .carousel::-webkit-scrollbar {
  display: none;
}

.course .carousel :where(.card, .img) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.course .carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.course .carousel.no-transition {
  scroll-behavior: auto;
}

.course .carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.course .carousel .card {
  scroll-snap-align: start;
  height: 310px;
  list-style: none;
  background: #00000000;
  border-radius: 8px;
  display: flex;
  cursor: pointer;
  width: 80%;
  padding-bottom: 15px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.course .card .img {
  width: 145px;
  height: 145px;
  border-radius: 50%;

}

.course .card .img img {
  width: 140%;
  height: 100%;
  object-fit: cover;
}

.course .card h2 {
  font-weight: 500;
  font-size: 17px;
  margin: 5px 8px 5px;
}

.course .card span {
  color: #6a6d78;
  font-size: 80%;
}

.course .card .checked {
  color: orange;
}

@media (max-width: 1200px) {
  .course .wrapper .carousel {
    grid-auto-columns: calc((100% / 3) - 19px);
  }

  .course .wrapper i {
    margin-right: 15%;
    margin-left: 3%;
  }
}

@media (max-width: 992px) {
  .course .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 19px);
  }
}

@media (max-width: 768px) {
  .course .wrapper .carousel {
    grid-auto-columns: calc(100% - 19px);
  }

  .course .wrapper i:first-child {
    left: -35px;
  }

  .course .wrapper i:last-child {
    right: -35px;
  }
}

@media (max-width: 480px) {
  .course h1 {
    font-size: x-large;
  }

  .course p {
    font-size: 20px;
    margin-left: 40px;
  }

  .course {
    margin-top: -40%;
  }

  .course .carousel .card {
    margin: 0;
  }

  .course .wrapper {
    margin-left: 3%;
  }

  .course .wrapper i:first-child {
    left: -7px;
  }

  .course .wrapper i:last-child {
    right: 32px;
  }
}

.card {
  position: relative;
  width: 300px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}

.img img {
  width: 100%;
  border-radius: 5px;
}

.add-card {
  background-color: rgba(77, 77, 77, 0.768);
  border: none;
  padding: 14% 28% 14% 28%;
  margin-left: -180%;
}

.add-card a {
  color: white;
}

.add-card:hover {
  background-color: rgba(126, 126, 126, 0.768);
}

/* footer */

.footer .container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.footer ul {
  list-style: none;
}

.footer {
  background-color: #24262b;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #3f3ff4;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}